openapi: 3.0.3
info:
  title: Prisma AI Platform API
  version: 4.1.0
  description: API para gerenciamento de projetos, artefatos e orquestração de Agentes de Política (Governance Automation).

servers:
  - url: https://api.prisma.ai/v1
    description: Production Server (Supabase Edge Functions)

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ProjectConfig:
      type: object
      required: [name, briefing_data]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        briefing_data: { type: object }
        status: { type: string, enum: [draft, processing, completed, error] }
    
    AuditLog:
      type: object
      properties:
        id: { type: string, format: uuid }
        agent_name: { type: string }
        decision: { type: string, enum: [approved, rejected] }
        reasoning_text: { type: string }
        citation_metadata: 
          type: object
          properties:
            file_name: { type: string }
            page: { type: integer }

paths:
  /projects:
    get:
      summary: Listar projetos do usuário
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ProjectConfig' }
    post:
      summary: Criar novo projeto (Briefing)
      security: [{ bearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectConfig' }
      responses:
        '201':
          description: Projeto criado e orquestração iniciada.

  /agents/policy/execute:
    post:
      summary: Invocar Agente de Política (Core da V4)
      description: Endpoint genérico para consultar regras de negócio sem hard-coding.
      security: [{ bearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_name: { type: string, example: "Agent_Financeiro" }
                context_data: { type: object }
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  decision: { type: string }
                  reason: { type: string }
                  citation: { type: string }